
    /* HomePage CSS */

.homepage{
    display: flex;
    flex-wrap: wrap;
    background-color: #24333c;
    justify-content: center;
    padding: 5px;
    flex-basis: 100%;
    color: grey;
    /* border: 2px solid black; */
}
.homepage h1{
    /* border: 1px solid green; */
    flex-grow: 3;
    /* padding-left: 10%; */
}
.homepage div{
    /* border: 1px solid green; */
    padding-top: 1.7em;
    /* flex-grow: 0.5;  */
}
.homepage div>button{
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    margin-right: 20px;
    border: 1px solid grey;
}
.homepage div>button:hover {
    border: 1px solid white;
    background-color: #bfbcbc;
    box-shadow: 0px 0px 1px 4px #bfbcbc;
    color: white;
    cursor: pointer;
}
.profile_pic{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.home-icon{
    color: white;
    flex-grow: 1;
}
.icon{
    background-color: grey;
    padding: 10px;
    border-radius: 20%;
}
.icon:hover{
    transition: 1s;
    cursor: pointer;
    transform: scale(1.04)
}
.profile_pic_div{
    padding-right: 3em;
}
@media (max-width: 440px) {
    .homepage h1{
        flex-basis: 100%;
    }
    .homepage div{
        padding-top: 0.5em;
        order: 1;
    }
    .homepage{
        justify-content: flex-end;
    }
    .home-icon{
        align-self: center;
    }
}