.userInterest{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    border: 1px solid black;
    padding: 10px;
}
.userInterest div .going{
    text-decoration: none;
    color: black;
    color: black;
    cursor: pointer;
}
/* .userInterest div{
    border: 1px solid black;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    margin: 5px 20px 5px 20px;
} */
